<ng-template #popContent>
  <div class="w-100" style="display: flex; flex-direction: column; justify-content: space-between;">
    <div class="flex-between-center" style="margin-bottom: 2vh;">
      <div>Personalize</div>
      <div class="">
        <fa-icon [icon]="icons.faXmark" (click)="progressBar.close()" class="text-danger"></fa-icon>
      </div>
    </div>

    <div class="btn-group flex-between-center">
      <div class="">
        <button type="button" class="btn btn-sm btn-outline-secondary" [disabled]="masterExpenditureProgressHeight <= 0.75" (click)="modifyHeight(-.25)">-</button>
      </div>
      <div class="">
        Height
      </div>
      <div class="">
        <button type="button" class="btn btn-sm btn-outline-secondary" [disabled]="masterExpenditureProgressHeight >= 2.5" (click)="modifyHeight(.25)">+</button>
      </div>
    </div>
  </div>
</ng-template>

<ngb-progressbar
  type="warning"
  [value]="75"
  height="{{masterExpenditureProgressHeight}}vh"
  class="master-progress"
  [ngbPopover]="popContent"
  [autoClose]="false"
  #progressBar="ngbPopover"
  style="margin-bottom: 1.5vh;">
</ngb-progressbar>
