.master-progress {
  margin-bottom: 1vh;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app-shadow {
  box-shadow: 6px 2px 16px;
}

.app-backdrop {
  background-color: unset;
  border-bottom: unset;
  backdrop-filter: blur(7px) brightness(0.7);
  max-width: max-content;
  white-space: nowrap;
}