<div class="p-4">
  <div class="display-6 d-flex justify-content-start">
    <div>
      Add a new category
    </div>
  </div>

  <form #newCategoryForm="ngForm" (ngSubmit)="Submit(newCategoryForm)">
    <div class="mt-4 d-flex justify-content-start">
      <div>
        <input
          class="form-control"
          type="text"
          placeholder="Name of the category"
          [(ngModel)]="catName"
          name="catName"
          required>
      </div>
    </div>

    <div class="mt-2 d-flex justify-content-start">
      <div>
        <label for="categ-popup-transaction-type">Transaction type</label>
        <select id="categ-popup-transaction-type" class="form-select " name="transactionType" [(ngModel)]="transType">
          <!-- -->
          <option [value]="transType" *ngFor="let transType of ALL_TRANSACTIONTYPE_IDS">{{ ALL_TRANSACTIONTYPES[transType].name }}</option>
        </select>
      </div>
    </div>

    <div class="mt-2 d-flex justify-content-start">
      <div>
        <input
          class="form-control"
          type="number"
          placeholder="Maximum monthly budget"
          [(ngModel)]="categoryMaxBudget"
          name="categoryMaxBudget"
          required>
      </div>
    </div>

    <div class="mt-2 d-flex justify-content-start">
      <div>
        <textarea
          class="form-control"
          rows="3"
          placeholder="Description"
          [(ngModel)]="categoryDescription"
          name="categoryDescription"
          required>
        </textarea>
      </div>
    </div>

      <button class="btn btn-outline-success mt-3" type="submit">Add</button>
  </form>
</div>
