<div class="p-4">
  <div class="display-6 d-flex justify-content-start">
    <div>
      Add a new transaction
    </div>
  </div>

  <form [formGroup]="transactionForm" (ngSubmit)="submit()">
    <div class="mt-4 d-flex justify-content-start">
      <div>
        <label for="transaction-type">Transaction type</label>
        <select id="transaction-type" class="form-select form-select-lg mb-3" formControlName="transactionType">
          <!-- (change)="calculateTransaction($event);" -->
          <option [value]="transType" *ngFor="let transType of ALL_TRANSACTIONTYPE_IDS">{{ getDisplayName(transType, 'transaction_type') }}</option>
        </select>
      </div>
    </div>

    <div class="mt-2 d-flex justify-content-start">
      <div>
        <input
          class="form-control"
          type="number"
          placeholder="Amount"
          formControlName="amount"
          required>
      </div>
    </div>

    <div class="mt-2 d-flex justify-content-start">
      <div>
        <label for="transaction-category">Transaction category</label>
        <select id="transaction-category" class="form-select form-select-lg mb-3"  formControlName="category">
          <option [value]="categoryType" *ngFor="let categoryType of ALL_CATEGORY_IDS">{{ getDisplayName(categoryType, 'category_type') }}</option>
        </select>
      </div>
    </div>

    <!-- <div class="mt-2 d-flex justify-content-start">
      <div>
        <textarea
          class="form-control"
          rows="3"
          placeholder="Description"
          [(ngModel)]="categoryDescription"
          name="categoryDescription"
          required>
        </textarea>
      </div>
    </div> -->

      <button class="btn btn-outline-success mt-3" type="submit">Add</button>
  </form>
</div>
