<div class="p-4">
  <div class="display-6 d-flex justify-content-start">
    <div>
      Add a new transaction
    </div>
  </div>

  <form [formGroup]="transactionForm" (ngSubmit)="submit()">

    <div class="mt-4 d-flex row justify-content-start">
      <div>
        <input
          class="form-control w-sm-12"
          type="text"
          placeholder="Your notes"
          formControlName="transactionNote">
      </div>
    </div>

    <div class="mt-2 d-flex row justify-content-start">
      <div>
        <label for="transaction-type">Transaction type</label>
        <select id="transaction-type" class="form-select w-sm-12" formControlName="transactionType" (change)="transactionTypeChanged();">
          <!-- -->
          <option [value]="transType" *ngFor="let transType of ALL_TRANSACTIONTYPE_IDS">{{ getDisplayName(transType, 'transaction_type') }}</option>
        </select>
      </div>
    </div>

    <div class="mt-2 d-flex row justify-content-start">
      <div>
        <label for="transaction-category">Transaction category</label>
        <select id="transaction-category" class="form-select w-sm-12"  formControlName="category">
          <option [value]="categoryType" *ngFor="let categoryType of CATEGORY_IDS_FOR_DISPLAY">{{ getDisplayName(categoryType, 'category_type') }}</option>
        </select>
      </div>
    </div>

    <div class="mt-2 d-flex row justify-content-start">
      <div>
        <input
          class="form-control w-sm-12"
          type="number"
          placeholder="Amount"
          formControlName="amount">
      </div>
    </div>

    <div class="mt-2">
      <div formArrayName="accountsToTransact">
        <span *ngIf="getTransactingAccounts().length">Choose accounts to transact</span>
        <select
          class="form-select mb-3 w-75 ml-3"
          *ngFor="let acc of getTransactingAccounts(); let inn = index;"
          [formControlName]="inn">
            <option [value]="accId" *ngFor="let accId of ALL_ACCOUNT_IDS">{{ getDisplayName(accId, 'account') }}</option>
        </select>
      </div>
    </div>

    <div class="mt-2">
      <div>Date</div>
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check mr-1" name="btnradio" id="btnradio1" autocomplete="off" checked (change)="selectDate('now')">
        <label class="btn btn-outline-primary" for="btnradio1">Now</label>

        <input type="radio" class="btn-check mx-1" name="btnradio" id="btnradio2" autocomplete="off" (change)="selectDate('lastMonth')">
        <label class="btn btn-outline-primary" for="btnradio2">Last month</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" (click)="selectDate('custom')" (change)="selectDate('custom')">
        <label class="btn btn-outline-primary" for="btnradio3">Choose date</label>
      </div>
      <ngb-datepicker #dp *ngIf="!transactionDate" class="mt-1" (dateSelect)="customDateSelected($event)"></ngb-datepicker>
    </div>

    <button class="btn btn-outline-success mt-3" type="submit" [disabled]="!transactionForm.valid">Add</button>

  </form>
</div>
